*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
/* Nav CSS Start */
.header{
    position: fixed;
    width: 100%;
}
.header-inner{
    position:fixed;
    top: 0; left: 0;
    width: 100%;
    
}
.nav-item .nav-link{
    display: block;
    line-height: 39px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 550;
    color:crimson;
    transition: 0.15s;
    padding: 0 10px;
}

.nav-item .nav-link:hover{
    color: blue;
}
.header-btn{
    color: aqua;
    border-radius: 30px;
    background-color: gray;
    border: none;
    font-weight: 550;
    outline: none;
    font-size: 15px;
    padding: 7px 22px;
    transition: 0.5s;
}
.header-btn:hover{
    background-color: blue;
    cursor: zoom-in;
}
.navbar-scroll{
    background-color: #fe4066;
    padding: 0; position: fixed;
    top: 0;
    box-shadow: 0px 1px 10px rgba(0,0, 0,0.4);
    transition-duration: 0.6s;
}
.navbar-scroll .nav-item .nav-link{color: black;}
.navbar-scroll .header-btn{
    color: #ffffff;
    background-color: #fe4066;
}
/* Nav CSS end*/